<!-- 
 File Name: footer.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308assignment1.herokuapp.com/
 File Description: Partials containing footer details.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <h2>Footer</h2>
    </body>
</html>