<!-- 
 File Name: footer.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308assignment1.herokuapp.com/
 File Description: Partials containing footer details.
-->

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">@ Mohammed Juned Ahmed</div><!-- end Container-->
</nav>