<!-- 
 File Name: head.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308assignment1.herokuapp.com/
 File Description: Partial containing Head info.
-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<!-- CSS stylesheets -->
<link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel='stylesheet' href='/Content/style.css' />