<!-- 
 File Name: header.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308assignment1.herokuapp.com/
 File Description: Contains the partials for header.
-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="containter-fluid">
    <div class="right">
            <a class="navbar-brand" href="/">
                Mohammed Juned Ahmed
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </div>
</nav>