<!-- 
 File Name: about.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308assignment1.herokuapp.com/
 File Description: HTML page displaying all the about information.
-->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
  <header><% include ./partials/header %></header>
    <div class="content container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <!-- JS Scripts -->
    <% include ./partials/jsscripts %>
  </body>
</html>
