<!-- 
 File Name: index.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308assignment1.herokuapp.com/
 File Description: HTML page displaying all the home page information.
-->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
  <header>
    <% include ./partials/header %>
  </header>

  <div class="">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <ul>
      <% for(let index=0; index<4; index++){ %>
        <li>Item <%= index %> </li>
      <% } %>
    </ul>
  </div>
  
    <!-- JS Scripts -->
    <% include ./partials/jsscripts %>
  </body>
</html>
